// locale variables
$gray: rgb(190, 190, 190);
$violet: rgb(91, 39, 137);
$backgroundTopHeight: 150px;

.Sidebar {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: url('../../../background/bg.jpg');
  background-repeat: repeat;
  background-size: 200px;
  background-position: center;
  border-right: 1px solid rgb(17, 17, 17);
  transition: all 0.4s ease-in-out;

  @media screen and (max-width:1040px){
    position: fixed;
    top: 0;
    left: -500px;
    z-index: 10;
    height: 100vh;
  }

  @media screen and (max-width:550px){
    width: 100vw;
  }

  &__bgBlur {
    background: rgba(233, 233, 233, 0);
    backdrop-filter: blur(0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: all 0.4s ease-in-out;
  }

  &__menu {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    position: relative;

    @media screen and (max-width: 390px){
      gap: 8px;
    }
  }

  &__svg {
    fill: $gray;
    transform: scale(0.7);
    transition: all 0.4s ease-in-out;
  }

  &__OptionBtn {
    width: 100px;
    height: 85px;
    outline: none;
    background: white;
    border: 1px solid white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;

    &:hover,
    &:focus {
      cursor: pointer;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
      color: $violet;

      .Sidebar__svg {
        transform: scale(0.8);
        fill: $violet;
      }
    }

    @media screen and (max-width: 390px){
      width:90px;
      height: 80px;
    }
  }

  &__optionSelected {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    color: $violet;

    .Sidebar__svg {
      transform: scale(0.8);
      fill: $violet;
    }
  }

  &__OptionBtn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;

    @media screen and (max-width: 390px){
      gap: 2px;
    }
  }

  &__background-Top {
    height: $backgroundTopHeight;
    background: $violet;
    margin-bottom: -50px;
    position: relative;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 390px){
      height: 120px;
      margin-bottom: -40px;
    }
  }

  &__logo {
    line-height: calc($backgroundTopHeight - 50px);
    color: white;
    font-family: "MsMadi";
    font-size: 36px;
    letter-spacing: 2px;

    @media screen and (max-width: 390px){
      font-size: 32px;
      position: relative;
      top: -10px;
    }
  }

  &__background {
    width: 400px;
    height:100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);

    @media screen and (max-width:550px){
      width: 100vw;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

}

@media screen and (max-width: 1040px){
  .Sidebar.sideBarOpen {
    left: 0;
  }

  .Sidebar__bgBlur.sideBarOpen {
    background: rgba(233, 233, 233, 0.4);
    backdrop-filter: blur(15px);
    z-index: 9;

  }
}