// locale variables
$maxWidth: 1000px;
$formheight: 60px;
$bgBlue: rgb(91, 39, 137);
$ChatAreaBG: rgb(232, 232, 232);

.ChatForm {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5px 0;
  background: $ChatAreaBG;

  &__form {
    display: flex;
    width: 90%;
    max-width: $maxWidth;
    justify-content: space-between;
    min-height: 60px;
    height: auto;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50px 0 50px 50px;
    align-items: center;
    margin: 10px 0;
    transition: all 0.4s ease-in-out;
    background: white;
  }

  &__file {
    display: none;
  }

  &__ProgressBar {
    margin-left: 9px;
    margin-right: 2px;
    margin-top: 3px;
  }

  &__label {
    margin-left: 8px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;

    @media screen and (max-width:600px) {
      width: 50px;
      height: 50px;
    }
  }

  &__addImg {
    width: 40px;
    height: 40px;
    animation-name: appearAddImage;
    animation-duration: 0.5s;

    &:hover,
    &:focus {
      cursor: pointer;
    }

    @media screen and (max-width:600px) {
      width: 35px;
      height: 35px;
    }
  }

  &__textdiv {
    padding: 5px 0;
    width:80%;
    height: auto;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(34, 34, 34);
    outline: none;
    max-height: 400px;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &:empty:before {
      content: attr(data-placeholder);
      color:rgb(86, 86, 86);
    }

    &:hover,
    &:focus {
      cursor: text;
    }
  }

  &__send {
    background: $bgBlue;
    width: 100px;
    height: $formheight;
    border: 1px solid $bgBlue;
    border-radius: 60px 0 60px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;

    &:hover,
    &:focus{
      cursor: pointer;
    }

    @media screen and (max-width:600px) {
      width:80px;
      border-radius: 40px 0 40px 40px;
    }
  }

  &__sendImg {
    width: 40px;
    height: 40px;
    transform: rotate(-45deg) translateX(8px);
    transition: all 0.4s ease-in-out;

    @media screen and (max-width:600px) {
      width: 35px;
      height: 35px;
    }
  }
}

.roundImg {
  position: relative;
  top:3px;
  left: -3px;
  transform: rotate(-45%);

}

.round {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.roundBorder {
  border-radius: 50px;
}

@keyframes appearAddImage {
  0%   {
    transform: scale(0);
    opacity: 0;
  }
  80%  {
    opacity: 1;
    transform: scale(1.3)
  }
  100% {transform: scale(1)}
}