.NavBar {
  height: 60px;
  min-height: 60px;
  background: rgb(91, 39, 137);
  display: flex;
  flex-direction: column;
  display: none;

  @media screen and (max-width:1040px) {
    display: inherit;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  &__btn {
    outline: none;
    border: none;
    height: 60px;
    width:160px;
    margin-left: 20px;
    background: none;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
  }

  &.hide {
    display: none;
  }

  &__back {
    width: 30px;
    height: 30px;
  }
}